{% extends 'layout.html' %}

{%block content%}

<head>
    <meta charset="utf-8" />
    <title>{{artistdata.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="navbarTop">
            <a href="/index">Home</a>
            <a class=active href="/lineup">LineUp</a>
            <a href="/tickets">Tickets &amp; Preise</a>
            <a href="/info">Info</a>
            {% if authenticated %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </div>
    </nav>

    <div class="mainGrid">
        <div class="pageTitle">
            <a href="/lineup" class="neutralLink centerItem">
                <img class="smallImage" src="/pictures/pfeil.png" alt="BackArrow" /> </a>
            <h2 class="centerItem">{{artistdata.name}}</h2>
        </div>

        <div class="doubleGrid">
            <p class="centerItem">{{artistdata.date}}</p>
            <p class="centerItem">{{artistdata.time}}</p>
            <img class="doubleItem centerItem" src={{artistdata.picture}} alt="">
            <p class="doubleItem">
                {{artistdata.description}}
            </p>
        </div>
    </div>
    {%if authenticated%}
      <footer>
        <div class="centerItem">
            <form action="#" method="POST">
                <button id:"delete" type="submit">Eintrag entfernen</button>
            </form>
        </div>

        <div class="centerItem">
            <form action="/artist/{{artistdata.artistId}}/edit" method="GET">
                <button id:"change" type="submit">Eintrag verändern</button>
            </form>
        </div>
    </footer>
    {% endif %}
</body>

{%endblock%}