{% extends 'layout.html' %}

{%block content%}

<head>
    <meta charset="utf-8" />
    <title>Road Rock - LineUp</title>
    <meta name="lineup" content="width=device-width, initial-scale=1">
    <link href="/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="navbarTop">
            <a href="/index">Home</a>
            <a class=active href="/lineup">LineUp</a>
            <a href="/tickets">Tickets & Preise</a>
            <a href="/info">Info</a>
        </div>
    </nav>

    <div class="mainGrid">
        <div class="pageTitle">
            <a href="/lineup" class="neutralLink centerItem">
                <img class="arrow" src="/pictures/pfeil.png" alt="" /> </a>
            <h2 class="centerItem">{{artistdata.name}}</h2>
        </div>

        <div class="doubleGrid">
            <p class="centerItem">
                Coole Beats, sphärische Klänge, fetzige Gitarrensolos - kurz gesagt: ein unvergessliches
                Konzerterlebnis,
                bei dem alle Rock-Fans auf ihre Kosten kommen. </p>

            <img src={{artistdata.picture}} alt="">

            <p class="doubleItem">
                Die Band aus Idaho hat bereits mehrere Tourneen hinter sich und hat auch schon auf dem
                Road Rock Festival 2015 die Bühne absolut zerstört. Mit Hits wie "Always Gonna Give You Up",
                "Caliphs of Rock" und "Uncomfortably Sensitive" sind sie der Klassiker im Radio - und
                legendär live.
            </p>
        </div>
    </div>
</body>

{%endblock%}