{% extends 'layout.html' %}

{%block content%}

<head>
    <meta charset="utf-8" />
    <title>Road Rock - LineUp</title>
    <meta name="lineup" content="width=device-width, initial-scale=1">
    <link href="/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="navbarTop">
            <a href="/index">Home</a>
            <a class=active href="/lineup">LineUp</a>
            <a href="/tickets">Tickets & Preise</a>
            <a href="/info">Info</a>
            {% if authenticated %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </div>
    </nav>

    <div class="mainGrid">
        <div class="pageTitle">
            <a href="/lineup" class="neutralLink centerItem">
                <img class="arrow" src="/pictures/pfeil.png" alt="" /> </a>
            <h2 class="centerItem">{{artistdata.name}}</h2>
        </div>

        <div class="doubleGrid">
            <p class="centerItem">{{artistdata.date}}</p>
            <p class="centerItem">{{artistdata.time}}</p>
            <img class="doubleItem centerItem" src={{artistdata.picture}} alt="">
            <p class="doubleItem">
                {{artistdata.description}}
            </p>
        </div>
    </div>
    <footer>
        <div class="centerItem">
            <form action="#" method="POST">
                <input id:"delete" type="submit" value="Eintrag Entfernen" />
            </form>
        </div>

        <div class="centerItem">
            <form action="/artist/{{artistdata.artistId}}/edit" method="GET">
                <input id:"change" type="submit" value="Eintrag verändern" />
            </form>
        </div>
    </footer>
</body>

{%endblock%}