<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Erklärung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/documentation/css/Style.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <div class="navbarTop">
        <a href="/documentation">Gestaltung</a>
        <a href="/documentation/module">Module</a>
        <a href="/documentation/farben">Farben</a>
        <a class="active" href="/documentation/erklaerung">Erklärung</a>
        <a href="/documentation/zeitleiste">Zeitleiste</a>
      </div>
    </nav>

    <div class="mainGrid">
      <img src="pictures/Erkl.JPG" alt="" />
    </div>

    <footer>
      <div class="doubleItem">
        <h3>WWW-Programmierung Hausarbeit</h3>
        <p>Wintersemester 2022/23</p>
      </div>
      <div>
        <h3>Nathalie Beiter</h3>
        <p>Matrikelnummer: 690711</p>
        <p>Login: nabe1026</p>
      </div>
      <div>
        <h3>Nouri Ben Naji</h3>
        <p>Matrikelnummer: 690738</p>
        <p>Login: nobe1803</p>
      </div>
    </footer>
  </body>
</html>
