<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Farben</title>
    <meta name="home" content="width=device-width, initial-scale=1" />
    <link href="/documentation/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <nav>
        <div class="navbarTop">
            <a href="/documentation">Gestaltung</a>
            <a href="/documentation/module">Module</a>
            <a class=active href="/documentation/farben">Farben</a>
            <a href="/documentation/erklaerung">Erklärung</a>
            <a href="/documentation/zeitleiste">Zeitleiste</a>
        </div>
    </nav>

    <div class="mainGrid">
        <h2>Farben</h2>
        <div class="farbGrid">
            <div class="farbe farbe-1">

            </div>
            <div class="farbe farbe-2"></div>
            <div class="farbe farbe-3"></div>
            <div class="farbe farbe-4"></div>
            <p>rgb(255, 255, 255)</p>
            <p>rgb(0, 0, 0)</p>
            <p>rgb(27, 39, 44)</p>
            <p>rgb(242, 150, 252)</p>

        </div>
    </div>

    <footer>
        <div class="doubleItem">
            <h3> Frontend-Design Hausarbeit</h3>
            <p>Sommersemester 2022</p>
        </div>
        <div>
            <h3>Nathalie Beiter</h3>
            <p>Matrikelnummer: 690711</p>
            <p>Login: nabe1026</p>
        </div>
        <div>
            <h3>Nouri Ben Naji</h3>
            <p>Matrikelnummer: 690738</p>
            <p>Login: nobe1803</p>
        </div>
    </footer>

</body>

</html>