<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Allgemeines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/documentation/css/Style.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <div class="navbarTop">
        <a class="active" href="/documentation">Allgemeines</a>
        <a href="/documentation/aufbau">Aufbau</a>
        <a href="/documentation/erklaerung">Erklärung</a>
        <a href="/documentation/zeitleiste">Zeitleiste</a>
        <a href="/">RoadRock</a>
      </div>
    </nav>

    <div class="mainGrid">
      <h2>Allgemeine Informationen zur Site</h2>
      <p>
        Wir haben uns entschieden, eine Website für ein Festival zu erstellen.
        Das Ziel der Site ist es, über das Festival zu informieren, dieses zu
        bewerben und den Ticketkauf zu ermöglichen. Die wichtigsten
        Informationen dazu beinhalten Datum und Ort, Lineup, Möglichkeiten zur
        Unterkunft, Parkgelegenheiten, Preise und Einrichtungen. Die Site soll
        außerdem dem Betrachter Einblicke in Veranstaltungen in der
        Vergangenheit geben und ihm so einen Eindruck vom Festival vermitteln.
      </p>
      <p>
        Die primäre Aufgabe der Site ist es, den Kunden zum Erwerb eines Tickets
        anzuregen. Gleichzeitig soll man natürlich über das Festival informiert
        werden. Das Betrachten der Website soll eine immersive Erfahrung sein.
      </p>
      <p>
        Die Anwendung erlaubt es nicht eingeloggten Usern, die Inhalte wie z.B.
        das Lineup und die einzelnen Künstler anzusehen, sowie Tickets über ein
        Bestellformular zu bestellen. Die Ticketdaten werden dann in der
        Datenbank hinterlegt. Außerdem gibt es eine Login-Funktion für bereits
        in der Datenbank hinterlegte User. Eingeloggte User können zusätzlich
        dem Lineup Einträge hinzufügen, bestehende Einträge bearbeiten oder
        diese löschen.
      </p>
    </div>

    <footer>
      <div class="doubleItem">
        <h3>WWW-Programmierung Hausarbeit</h3>
        <p>Wintersemester 2022/23</p>
      </div>
      <div>
        <h3>Nathalie Beiter</h3>
        <p>Matrikelnummer: 690711</p>
        <p>Login: nabe1026</p>
      </div>
      <div>
        <h3>Nouri Ben Naji</h3>
        <p>Matrikelnummer: 690738</p>
        <p>Login: nobe1803</p>
      </div>
    </footer>
  </body>
</html>
