<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Gestaltung</title>
    <meta name="home" content="width=device-width, initial-scale=1" />
    <link href="/documentation/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <nav>
        <div class="navbarTop">
            <a class=active href="/documentation">Gestaltung</a>
            <a href="/documentation/module">Module</a>
            <a href="/documentation/farben">Farben</a>
            <a href="/documentation/erklaerung">Erklärung</a>
            <a href="/documentation/zeitleiste">Zeitleiste</a>
        </div>
    </nav>

    <div class="mainGrid">
        <h2>Gestaltung</h2>
        <h3>Idee</h3>

        <p>Unsere Grundidee war es, eine Website für ein Festival zu gestalten. Dabei war uns wichtig, dass durch das
            Design
            bereits ein Gefühl für die Atmosphäre vermittelt wird und gleichzeitig die wichtigsten Informationen direkt
            und
            präzise
            übermittelt werden.
            Entsprechend waren wir uns einig, dass zum Einen Bild- und Videoelemente eine wichtige Rolle spielen
            sollten,
            und dass zum Anderen die Textelemente auf den Hauptseiten möglichst knapp und präzise sein sollten.
        </p>

        <p>Aus diesen Grundvoraussetzungen haben sich die folgenden Styletiles entwickelt:</p>


        <h3>Styletile 1</h3>
        <img src="pictures/Styletile1.png" alt="">
        <h3>Styletile 2</h3>
        <img src="pictures/Styletile2.png" alt="">
        <h3>Styletile 3</h3>
        <img src="pictures/Styletile3.png" alt="">

        <h3>Gestaltung</h3>

        <p>
            Letztendlich haben wir uns für die Umsetzung des ersten Styletiles entschieden, da dieses am ehesten unseren
            Ansprüchen entsprach. Wichtig war natürlich hier auch die Musikrichtung / Art des Festivals, und in unserem
            Rahmen erschien uns ein Rock-Festival am sinnvollsten.
        </p>
        <p>Den dunklen Hintergrund und generell dunkle Töne haben wir beibehalten, um Spannung zu erzeugen und einen
            etwas
            seriöseren Look zu erzielen. Insbesondere die weiße Schrift darauf soll sich abheben und hervorstechen, aber
            auch andere Elemente wie die Künstlerprofile, die durch knalligere Farben hervorstechen.
        </p>
        <p>Die zunächst statische Homepage wurde während der Weiterentwicklung der Website mit einem Video-Hintergrund
            versehen, um die Erfahrung der Festival-Atmosphäre lebhafter zu gestalten. Elemente wie die
            Navigationsleiste
            sollten diesen Effekt verstärken; der Hintergrundgedanke war hier, dass wenn man über die einzelnen
            Abschnitte
            hovert und diese "aufleuchten", Bühnenlichter imitiert werden.
        </p>
        <p>
            Eine weitere auffällige Veränderung gegenüber dem ersten Entwurfsschritt ist, dass die Abstände zwischen den
            Elementen größer sind. Diese Anpassung ist darin begründet, dass die Website möglichst übersichtlich und
            "straight-forward" sein sollte, damit sie modern und ansprechend auf den Besucher wirkt.
        </p>


    </div>

    <footer>
        <div class="doubleItem">
            <h3> Frontend-Design Hausarbeit</h3>
            <p>Sommersemester 2022</p>
        </div>
        <div>
            <h3>Nathalie Beiter</h3>
            <p>Matrikelnummer: 690711</p>
            <p>Login: nabe1026</p>
        </div>
        <div>
            <h3>Nouri Ben Naji</h3>
            <p>Matrikelnummer: 690738</p>
            <p>Login: nobe1803</p>
        </div>
    </footer>




</body>

</html>