<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Module</title>
    <meta name="home" content="width=device-width, initial-scale=1" />
    <link href="/documentation/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <nav>
        <div class="navbarTop">
            <a href="/documentation">Gestaltung</a>
            <a class=active href="/documentation/module">Module</a>
            <a href="/documentation/farben">Farben</a>
            <a href="/documentation/erklaerung">Erklärung</a>
            <a href="/documentation/zeitleiste">Zeitleiste</a>
        </div>
    </nav>

    <div class="mainGrid">
        <h3>Logo:</h3>
        <div class="logo">
            <h1>
                <p>Road</p>
                <p class="rock">Rock</p>
                <p>Festival</p>
                <p class="date">26.-28.08. Flensburg</p>
            </h1>

        </div>

        <h3>Seitentitel:</h3>

        <div class="pageTitle">
            <img class="centerItem" src="pictures/Logo.png" alt="" />
            <h1>Seitentitel</h1>
        </div>

        <h3>Künstlerprofil:</h3>

        <div class="tripleGrid">

            <div class="box">
                <a class="neutralLink">
                    <img class="boxImage" src="pictures/band1.jpg" alt="" />
                    <h2 class="title">Künstlername</h2>
                </a>
            </div>
        </div>

        <h3>Ticket:</h3>
        <div class="tripleGrid">
            <div class="box">
                <a class="neutralLink" href="Formular.html">
                    <img class="boxImage" src="pictures/Ticket.png" alt="" />
                    <div class="title ticket">
                        <h3>Ticketname</h3>
                        <p>Beschreibung</p>
                        <p>Preis</p>
                    </div>
                </a>
            </div>
        </div>

        <h3>Button:</h3>
        <button>Button-Beispiel</button>

    </div>

    <footer>
        <div class="doubleItem">
            <h3> Frontend-Design Hausarbeit</h3>
            <p>Sommersemester 2022</p>
        </div>
        <div>
            <h3>Nathalie Beiter</h3>
            <p>Matrikelnummer: 690711</p>
            <p>Login: nabe1026</p>
        </div>
        <div>
            <h3>Nouri Ben Naji</h3>
            <p>Matrikelnummer: 690738</p>
            <p>Login: nobe1803</p>
        </div>
    </footer>

</body>

</html>