<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Zeitleiste</title>
    <meta name="home" content="width=device-width, initial-scale=1" />
    <link href="/documentation/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <nav>
        <div class="navbarTop">
            <a href="/documentation">Gestaltung</a>
            <a href="/documentation/module">Module</a>
            <a href="/documentation/farben">Farben</a>
            <a href="/documentation/erklaerung">Erklärung</a>
            <a class=active href="/documentation/zeitleiste">Zeitleiste</a>
        </div>
    </nav>

    <div class="mainGrid">

        <h2>Zeitleiste</h2>
        <ul class="Zeitleiste">
            <li>
                <h3>24.05. - Erstellen der Style Tiles</h3>
                <p>
                    Wir haben drei Style Tiles in verschiedenen Stilrichtungen für verschiedene Arten von
                    Festivals erstellt, diese Varianten miteinander verglichen und uns für die Erste entschieden.
                </p>
                <figure>
                    <img src="pictures/Styletile1.png" alt="">
                    <img src="pictures/Styletile2.png" alt="">
                    <img src="pictures/Styletile3.png" alt="">

                </figure>
            </li>

            <li>
                <h3>25.05. - Sammeln der Inhalte, Grundgerüst Website</h3>
                <p>
                    Im zweiten Schritt haben wir alle Inhalte für die Website ohne CSS gesammelt, die Bilder
                    auf eine sinnvolle Größe zugeschnitten und dann darauf
                    basierend ein Grundgerüst der Website mit den verschiedenen Unterseiten erstellt.
                </p>
                <figure>
                    <img src="Screenshots/Grundgerüst1.JPG" alt="">
                    <img src="Screenshots/Grundgerüst2.JPG" alt="">

                </figure>
            </li>

            <li>
                <h3>01.06. - Erstes CSS</h3>
                <figure>
                    <img src="Screenshots/ScreenshotErstesCSS1.JPG" alt="">

                    <p>Für die Anfänge der Gestaltung haben wir die Homepage mit einem Hintergrundbild versehen und
                        dann mittels eines Overlays
                        das Ganze etwas dunkler gemacht, damit die Schrift darauf gut lesbar ist. Für diese und
                        deren Auftauchen beim Aufruf der Website haben wir eine Animation erstellt.
                    </p>
                    <p>Im Style-Dokument haben wir außerdem die Navigationsleiste angelegt und ein Logo als PNG-Bild
                        erstellt.
                    </p>
                    <div>
                        <img src="Screenshots/Navigationsleiste.JPG" alt="">
                        <img src="Screenshots/RoadRockLogo.png" alt="">
                    </div>


                </figure>
            </li>

            <li>
                <h3>07./08.06. - Elemente erweitern</h3>
                <figure>
                    <img src="Screenshots/Logo_Footer.JPG" alt="">
                    <p>Dann wurde ein Footer angelegt und mithilfe von Grid in
                        zwei Abschnitte unterteilt.
                        Das Logo haben wir außerdem in HTML und CSS umgesetzt, damit beim Suchen nach dem Festival
                        auch die Website angezeigt wird, da im Logo sowohl der Titel als auch die Daten genannt
                        werden.
                        Das Hintergrundbild der Website haben wir durch ein Video ersetzt, da das deutlich mehr
                        Aufmerksamkeit auf sich zieht und für ein besseres Erlebnis sorgt.
                    </p>
                </figure>
            </li>

            <li>
                <h3>16.06. - Künstlerprofile </h3>
                <figure>
                    <p>Für das Video haben wir dann eine weitere Animation erstellt, sodass hinausgezoomt wird.
                        Außerdem haben wir die Künstlerprofil-Boxen angelegt, die im LineUp-Tab zu sehen sind.
                        Diese dienen der Übersicht über die verschiedenen Künstler und sind entsprechend auch mit
                        einem Grid-Layout angelegt. Auch hier wurde ein Overlay eingefügt und die Schrift darüber
                        platziert. Jede Box wurde dann in ein Link-Element eingebettet.
                    </p>
                    <img src="Screenshots/LineUp.JPG" alt="">
                    <img src="Screenshots/Künstlerseite1.JPG" alt="">
                    <p>Nachdem die Künstlerprofile mit zugehörigem Text erstellt wurden, konnten dann die Links
                        der Boxen mit dem jeweiligen Profil verlinkt werden.
                    </p>
                    <p>Zuletzt haben wir noch für die Datenschutz- und Impressum-Seiten zunächst den Blank-Text
                        angelegt.
                    </p>
                    <figure>
                        <img src="Screenshots/Datenschutzerklärung_blank.JPG" alt="">
                        <img src="Screenshots/Impressum_blank.JPG" alt="">
                    </figure>
                </figure>
            </li>

            <li>
                <h3>17.06. - Buttons, Ticketformular, Media Queries </h3>
                <figure>
                    <p>Den provisorischen Zurück-Button haben wir durch eine Pfeil-Grafik ersetzt. Für den
                        Submit-Button des Formulars haben wir die Gestaltung des Buttons in CSS vorgenommen.
                    </p>
                    <div>
                        <img src="Screenshots/Zurückpfeil.JPG" alt="">
                        <img src="Screenshots/Button.JPG" alt="">
                    </div>
                    <p>Außerdem wurde das Design der Tickets angepasst und ein Ticketformular angelegt, welches
                        mit den Ticket-Boxen verlinkt ist.
                    </p>
                    <img src="Screenshots/Ticketformular.JPG" alt="">
                    <img class="doubleItem" src="Screenshots/Ticketdesign.JPG" alt="">
                    <p class="doubleItem">Zuletzt haben wir noch die Media-Queries angelegt, damit alle Seiten
                        ordentlich skalieren.
                    </p>
                    <img src="Screenshots/Mediaquery1_Lineup.JPG" alt="">
                    <img src="Screenshots/Mediaquery2_Tickets.JPG" alt="">

                </figure>
            </li>

            <li>
                <h3>17./18.06. - Dokumentation</h3>
                <p>Die Dokumentation haben wir dann im Stil der Website vervollständigt und hierfür
                    ebenfalls eine Navigationsleiste angelegt, um die Übersichtlichkeit zu verbessern.
                </p>
            </li>




        </ul>

    </div>


    <footer>
        <div class="doubleItem">
            <h3> Frontend-Design Hausarbeit</h3>
            <p>Sommersemester 2022</p>
        </div>
        <div>
            <h3>Nathalie Beiter</h3>
            <p>Matrikelnummer: 690711</p>
            <p>Login: nabe1026</p>
        </div>
        <div>
            <h3>Nouri Ben Naji</h3>
            <p>Matrikelnummer: 690738</p>
            <p>Login: nobe1803</p>
        </div>
    </footer>

</body>

</html>