<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Zeitleiste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/documentation/css/Style.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <div class="navbarTop">
        <a href="/documentation">Allgemeines</a>
        <a href="/documentation/aufbau">Aufbau</a>
        <a href="/documentation/erklaerung">Erklärung</a>
        <a class="active" href="/documentation/zeitleiste">Zeitleiste</a>
        <a href="/">RoadRock</a>
      </div>
    </nav>

    <div class="mainGrid">
      <h2>Zeitleiste</h2>
      <ul class="Zeitleiste">
        <li>
          <h3>13.12. - Serverfunktionalität mit Router</h3>
          <p>
            Als Startpunkt haben wir unser Projekt für die Website aus
            Frontend-Design genommen. Wir haben einen Server angelegt sowie
            einen Router, der für bestimmte URLs das entsprechende HTML rendert.
            Die hrefs wurden dafür ebenfalls angepasst.
          </p>
          <figure>
            <img src="/documentation/pictures/Zeitstrahl1.png" alt="" />
          </figure>
        </li>

        <li>
          <h3>15.12. - Datenbank</h3>
          <p>
            Dann haben wir eine Datenbank angelegt und dort eine Tabelle für die
            Künstlerdaten erstellt.
          </p>
          <figure>
            <img src="/documentation/pictures/Zeitstrahl2.png" alt="" />
          </figure>
        </li>

        <li>
          <h3>18.12. - Templates</h3>
          <p>
            Wir haben ein HTML-Template “Layout” erstellt, welches durch andere
            Seiten erweitert werden kann. Dieses beinhaltet bereits den Footer
            und nutzt unser CSS.
          </p>
          <figure>
            <img src="/documentation/pictures/Zeitstrahl3.png" alt="" />
          </figure>
        </li>

        <li>
          <h3>28.12. - SQL und Login</h3>
          <p>
            Alle SQL-Aufrufe haben wir in ein separates DB-Model ausgelagert und
            injection-sicher definiert mit Platzhaltern. Außerdem haben wir eine
            grobe Login-Funktionalität implementiert, indem wir eine Loginseite
            hinzufügten und eine Usertabelle in der Datenbank anlegten.
          </p>
          <figure>
            <img src="/documentation/pictures/Zeitstrahl4.png" alt="" />
          </figure>
        </li>

        <li>
          <h3>10.01. - Login</h3>
          <p>
            Die Login-Funktionalität wurde erweitert, indem wir zusätzlich mit
            bcrypt das eingegebene Passwort gehasht haben. Im Login-Controller
            haben wir die Logik für das Abgleichen der Eingaben mit den
            Datenbankeinträgen und das Validieren des Passworts hinzugefügt. In
            der Datenbank haben wir dann Passwörter nur noch als Hashes
            gespeichert. Die Login-Funktionalität in app.js wurde wie oben
            beschrieben implementiert.
          </p>
          <figure>
            <img src="/documentation/pictures/Zeitstrahl5.png" alt="" />
          </figure>
        </li>

        <li>
          <h3>11.01. - Errors anzeigen</h3>
          <p>
            Um das Login zu vervollständigen, haben wir eine Logout-Seite mit
            entsprechendem Button hinzugefügt und jedes html und übergebene
            Daten angepasst, damit in der navbar - je nach Loginstatus - oben
            “Login” oder “Logout” steht und man zu der jeweiligen Seite gelangt.
            Außerdem haben wir alle potentiellen Fehlermeldungen bei den
            Formularen in die jeweiligen HTML-Seiten eingebaut und an diese
            Objekte übergeben, die die Fehler beinhalten.
          </p>
          <figure>
            <img src="/documentation/pictures/Zeitstrahl6.png" alt="" />
          </figure>
        </li>

        <li>
          <h3>12.01. - Zusätzliche Sicherheit</h3>
          <p>
            Um zu vermeiden, dass man durch manuelle Eingabe der URL auf Seiten
            mit Zugriff auf die Datenbank gelangen kann, haben wir Abfragen in
            den Router integriert, welche dies verhindern und den nicht
            eingeloggten Nutzer zurück auf die Startseite weiterleiten.
          </p>
          <figure>
            <img src="/documentation/pictures/Zeitstrahl7.png" alt="" />
          </figure>
        </li>

        <li>
          <h3>13.01. - Codeformatierung</h3>
          <p>
            Zum Schluss haben wir unseren Code aufgeräumt und richtig formatiert
            und kleine Änderungen an der Darstellung vorgenommen.
          </p>
          <figure>
            <img src="/documentation/pictures/Zeitstrahl8.png" alt="" />
          </figure>
        </li>
      </ul>

      <p>
        Über den gesamten Zeitraum der Erstellung der Site wurden wir immer
        wieder mit weiteren kleinen Problemen konfrontiert und haben dafür
        verschiedene Lösungen gefunden. Dokumentiert haben wir die wichtigsten
        Änderungen.
      </p>
    </div>

    <footer>
      <div class="doubleItem">
        <h3>WWW-Programmierung Hausarbeit</h3>
        <p>Wintersemester 2022/23</p>
      </div>
      <div>
        <h3>Nathalie Beiter</h3>
        <p>Matrikelnummer: 690711</p>
        <p>Login: nabe1026</p>
      </div>
      <div>
        <h3>Nouri Ben Naji</h3>
        <p>Matrikelnummer: 690738</p>
        <p>Login: nobe1803</p>
      </div>
    </footer>
  </body>
</html>
