<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Impressum</title>
    <meta name="home" content="width=device-width, initial-scale=1" />
    <link href="/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <div class="navbarTop">
        <a class=active href="/index">Home</a>
        <a href="/lineup">LineUp</a>
        <a href="/tickets">Tickets & Preise</a>
        <a href="/info">Info</a>
        {% if authenticated %}
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
    </div>


    <div class="Impressum">
        <h2>Impressum</h2>

        <div class="mainGrid">
            <div>
                <h3>Kontaktadresse</h3>
                <p>Flensburg Road Rock Event AG</p>
                <p>Vertretungsberechtigter: Sören Sörensen</p>
                <p>Holm 297</p>
                <p>24937 Flensburg</p>
                <p>Deutschland</p>
            </div>

            <div>
                <h3>Kontaktdaten</h3>
                <p>Sörensörensen1234567890@gmail.com</p>
                <p>+491234567809234</p>
            </div>

            <div>
                <h3>Handelsregistereintrag</h3>
                <p>Eingetragener Firmenname: Flensburg Road Rock Event AG</p>
                <p>Registernummer: DE-1849.02.481</p>
                <p>Handelsregisteramt: Flensburg</p>
            </div>

            <div>
                <h3>Mehrwertsteuernummer</h3>
                <p>DE-123-456-789</p>
            </div>

        </div>
    </div>
</body>

</html>