{% extends 'layout.html' %} {%block content%}

<head>
  <meta charset="utf-8" />
  <title>Road Rock - Info</title>
  <meta name="about" content="width=device-width, initial-scale=1" />
  <link href="/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <nav>
    <div class="navbarTop">
      <a href="/">Home</a>
      <a href="/lineup">LineUp</a>
      <a href="/tickets">Tickets & Preise</a>
      <a class="active" href="/info">Info</a>
      {% if authenticated %}
      <a href="/logout">Logout</a>
      {% else %}
      <a href="/login">Login</a>
      {% endif %}
    </div>
  </nav>

  <div class="mainGrid">
    <div class="pageTitle">
      <img class="centerItem" src="pictures/Logo.png" alt="" />
      <h1>FAQ</h1>
    </div>
  </div>

  <ul class="info">
    <li>
      <p>
        Hier findet ihr alle wichtigen Infos zum Festival. Wir freuen uns auf
        euch!
      </p>
    </li>
    <li>
      <h3>Öffnungszeiten Campinggelände</h3>
      <p>
        Das Campinggelände wird grundsätzlich ab Freitag, den 26. August 2022 um
        8:00 Uhr bis Sonntag, den 28. August 2022 um 20:00 Uhr geöffnet sein.
        Die jeweiligen Eintrittszeiten richten sich nach der Art des erworbenen
        Tickets und sind auf diesem zu finden.
      </p>
    </li>

    <li>
      <h3>Verpflegung</h3>
      <p>
        An mehreren Kiosks und Bistros auf dem Campinggelände werdet ihr
        ausreichend mit Getränken und Speisen versorgt. Eine Karte mit allen
        wichtigen Spots, um euch zurechtzufinden, erhaltet ihr bei Ankunft am
        Einlass.
      </p>
    </li>

    <li>
      <h3>Was muss ich mitbringen?</h3>
      <p>
        Es müssen auf jeden Fall Ticket, Ausweis, und Bargeld für Getränke und
        Verpflegung sowie Zelte - sofern keine Unterkunft vor Ort gebucht wurde
        - mitgebracht werden.
      </p>
    </li>

    <li>
      <h3>Sind Haustiere erlaubt?</h3>
      <p>Nein.</p>
    </li>

    <li>
      <h3>Alkohol</h3>
      <p>
        Es dürfen keine alkoholischen Getränke auf das Festivalgelände
        mitgenommen werden.
      </p>
      <p>Ab 18 Jahren darf man auf dem Festivalgelände Alkohol erwerben.</p>
    </li>

    <li>
      <h3>Drogen</h3>
      <p>Das Mitbringen von Drogen ist selbstverständlich untersagt.</p>
    </li>

    <li>
      <h3>Fundbüro</h3>
      <p>
        Falls du etwas verloren oder gefunden hast, kein Problem: auf dem
        Festivalgelände ist ein Fundbüro eingerichtet, wo Fundsachen abgegeben
        werden können. Dieser befindet sich direkt beim Einlass.
      </p>
    </li>
  </ul>
</body>

{%endblock%}
