{% extends 'layout.html' %}

{%block content%}

<head>
    <meta charset="utf-8" />
    <title>Road Rock - LineUp</title>
    <meta name="lineup" content="width=device-width, initial-scale=1">
    <link href="/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="navbarTop">
            <a href="/">Home</a>
            <a class=active href="/lineup">LineUp</a>
            <a href="/tickets">Tickets & Preise</a>
            <a href="/info">Info</a>
            {% if authenticated %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </div>
    </nav>

    <div class="mainGrid">
        <div class="pageTitle">
            <img class="centerItem" src="pictures/Logo.png" />
            <h1>LineUp</h1>
        </div>


        <ul class="tripleGrid">
            {%for artist in allArtists%}
            <li class="box">
                <a class="neutralLink" href="/artist/{{artist.artistId}}">
                    <img class="boxImage" src={{artist.picture}} />
                    <h2 class="title">{{artist.name}}</h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {%if authenticated%}
    <div class="centerItem">
        {#<button href="/lineup/add">Hinzufügen</button>#}
        <form action="/lineup/add">
            <input type="submit" value="Künstler hinzufügen" />
        </form>
    </div>
    {%endif%}
</body>

{%endblock%}