<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Road Rock - LineUp</title>
    <meta name="lineup" content="width=device-width, initial-scale=1">
    <link href="/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="navbarTop">
            <a href="/">Home</a>
            <a class=active href="/lineup">LineUp</a>
            <a href="/tickets">Tickets & Preise</a>
            <a href="/info">Info</a>
        </div>
    </nav>

    <div class="mainGrid">
        <div class="pageTitle">
            <img class="centerItem" src="pictures/Logo.png" />
            <h1>LineUp</h1>
        </div>


        <ul class="tripleGrid">
            {%for artist in allArtists%}
            <li class="box">
                <p>{{artist.artistId}}</p>
                <a class="neutralLink" href="/artist/{{artist.artistId}}">
                    <img class="boxImage" src={{artist.picture}} />
                    <h2 class="title">{{artist.name}}</h2>
                </a>
            </li>
            {%else%}
            <p>empty array</p>
            {% endfor %}
            <li class="box">
                <a class="neutralLink" href="/artist/1">
                    <img class="boxImage" src="/pictures/band1.jpg">
                    <h2 class="title">Sleve McDichael</h2>
                </a>
            </li>
        </ul>
    </div>

    <footer>
        <div>
            <p>Kontakt </p>
            <p>roadrock@flensburg.com </p>
            <p>@roadrock_flensburg </p>

        </div>
        <div>
            <p>Rechtliches</p>
            <p><a href="/impressum" class="neutralLink">Impressum</a></p>
            <p><a href="/datenschutzerklärung" class="neutralLink">Datenschutz</a></p>
            <p>AGB</p>
        </div>


    </footer>



</body>

</html>