{% extends 'layout.html' %} {%block content%}

<head>
  <meta charset="utf-8" />
  <title>Road Rock - LineUp</title>
  <meta name="lineup" content="width=device-width, initial-scale=1" />
  <link href="/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<div class="navbarTop">
  <a href="/">Home</a>
  <a class="active" href="/lineup">LineUp</a>
  <a href="/tickets">Tickets & Preise</a>
  <a href="/info">Info</a>
  {% if authenticated %}
  <a href="/logout">Logout</a>
  {% else %}
  <a href="/login">Login</a>
  {% endif %}
</div>

<body>
  <div class="mainGrid">
    <div class="pageTitle">
      <a href="/tickets" class="neutralLink centerItem">
        <img class="smallImage" src="pictures/pfeil.png" alt="" />
      </a>
      <h2 class="centerItem">Künstlerdaten</h2>
    </div>

    <form class="doubleGrid" action="#" method="POST">
      <label for="artistname">Künstername</label>
      <div>
        <input
          type="text"
          id="artistname"
          name="artistname"
          autofocus
          value="{{form.name}}"
        />
        {% if errors.title %}
        <p class="formError">{{errors.title}}</p>
        {% endif %}
      </div>
      <label for="date">Datum</label>
      <div>
        <input type="date" id="date" name="date" value="{{form.date}}" />
        {% if errors.date %}
        <p class="formError">{{errors.date}}</p>
        {% endif %}
      </div>
      <label for="time">Zeit</label>
      <div>
        <input type="time" id="time" name="time" value="{{form.time}}" />
        {% if errors.time %}
        <p class="formError">{{errors.time}}</p>
        {% endif %}
      </div>
      <label for="text">Beschreibung</label>
      <div>
        <textarea id="text" name="text" rows="8" cols="20">
{{form.description}}</textarea
        >
        {% if errors.text %}
        <p class="formError">{{errors.text}}</p>
        {% endif %}
      </div>
      <button class="centerItem doubleItem positive" type="submit">
        Speichern
      </button>
    </form>
  </div>
</body>
{%endblock%}
