<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Login</title>
  <meta name="login" content="width=device-width, initial-scale=1">
  <link href="/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>

  <div class="navbarTop">
    <a href="/">Home</a>
    <a href="/lineup">LineUp</a>
    <a href="/tickets">Tickets & Preise</a>
    <a href="/info">Info</a>
    <a class=active href="/login">Login</a>
  </div>

  <div class="mainGrid">
    <div class="pageTitle">
      <img class="centerItem" src="pictures/Logo.png" />
      <h1>Login</h1>
    </div>
    <form class="doubleGrid" action="#" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" autofocus value="{{form.username}}">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" value="{{form.password}}">
      <button class="centerItem doubleItem positive" type="submit">Login</button>
    </form>
  </div>
</body>

</html>