{% extends 'layout.html' %} {%block content%}

<head>
  <meta charset="utf-8" />
  <title>Road Rock - Tickets & Preise</title>
  <meta name="tickets" content="width=device-width, initial-scale=1" />
  <link href="/css/Style.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <nav>
    <div class="navbarTop">
      <a href="/index">Home</a>
      <a href="/lineup">LineUp</a>
      <a class="active" href="/tickets">Tickets & Preise</a>
      <a href="/info">Info</a>
      {% if authenticated %}
      <a href="/logout">Logout</a>
      {% else %}
      <a href="/login">Login</a>
      {% endif %}
    </div>
  </nav>

  <div class="mainGrid">
    <div class="pageTitle">
      <img class="centerItem" src="pictures/Logo.png" alt="" />
      <h1>Tickets</h1>
    </div>

    <ul class="doubleGrid">
      <li class="box">
        <a class="neutralLink" href="/tagesticket">
          <img class="boxImage" src="pictures/Ticket.png" alt="" />
          <div class="title ticket">
            <h3>Tagesticket</h3>
            <p>Eintritt an einem frei wählbaren Tag</p>
            <p>40€</p>
          </div>
        </a>
      </li>
      <li class="box">
        <a class="neutralLink" href="/vipticket">
          <img class="boxImage" src="pictures/Ticket.png" alt="" />
          <div class="title ticket">
            <h3>VIP-Ticket</h3>
            <p>Zutritt an allen drei Tagen + VIP Lounge</p>
            <p>100€</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</body>

{%endblock%}
